.results-container {
  font-size: 2em;
  height: 250px;
  width: 250px;
}

@media screen and (min-width: 450px) {
  .results-container {
    height: 350px;
    width: 350px;
  }
}
@media screen and (min-width: 750px) {
  .results-container {
    height: 500px;
    width: 500px;
  }
}
