.signup-form-container {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin-top: 50%;
  transform: translateY(-50%);

  font-size: 1.3em;
}

.signup-page-container {
  display: flex;
}

.signup-label-container {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 0.5em;
  }
}
.signup-input-container {
  display: flex;
  flex-direction: column;
  input {
    margin-bottom: 0.5em;
    height: 2em;
    width: 15em;
  }
}

.signup-label {
  width: 100%;
  margin-right: 4em;
}

.submit-button-container {
  align-self: flex-end;
  button {
    padding: 0.2em 1em;
    width: 15em;
  }
}

@media screen and (min-width: 500px) {
  .signup-form-container {
    margin-top: 30%;
  }
}

@media screen and (min-width: 700px) {
  .signup-form-container {
    margin-top: 20%;
  }
}
