.signup-form-container {
  width: 70%;
}

.signup-title-container {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 2em;
  color: #444;
  border-bottom: 1px solid #d4e5f0;
}

.signup-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;

    input {
      margin-top: 0.2em;
      padding-left: 0.4em;
      height: 2em;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 2px;
      &:focus {
        outline: none;
        border: 2px solid #62b1e6;

        border-radius: 5px;
      }
    }
  }
}

.signup-submit-button {
  height: 2em;
  border-radius: 2px;

  border: none;
  width: 100%;
  background-color: #fff;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #444;
    color: white;
  }
}

@media screen and (min-width: 800px) {
  .signup-form-container {
    width: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .signup-form-container {
    width: 30%;
  }
}
