.candidates-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.candidate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 100%;
  box-shadow: 1px 1px 3px black;
}

.candidate-img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.candidate-label {
  align-self: start;
  padding-top: 0.5em;
  font-size: 1.2em;
  background-color: grey;
  width: 100%;
}

.vote-button {
  width: 100%;
  margin-top: 1em;
  height: 2em;
}
