.results-header {
  text-align: center;
  > div:first-child {
    margin-bottom: 0.2em;
  }
}

.results-header-span {
  font-size: 0.3em;
  text-align: center;
  justify-self: center;
  align-self: center;
}
