.header-container {
  background-color: #3e91c9;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    width: 95%;
    margin-bottom: 0.3em;
  }
}

.corp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  img {
    margin: 0.5em;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    box-shadow: 1px 1px 3px #333;
  }
}

.project-title {
  text-align: center;
  font-size: 1.1em;
  padding: 0 0.5em;
}

.nav-search-box {
  padding-left: 0.5em;
  margin: 1em auto;
  height: 2em;
  width: 95%;
  border: none;
  outline: none;
  align-self: center;
  border-radius: 2px;
  &:focus {
    outline: none;
    border: 2px solid #62b1e6;

    border-radius: 5px;
  }
}

.nav-button {
  height: 2em;
  border-radius: 2px;

  border: none;
  width: 100%;
  background-color: aliceblue;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #444;
    color: white;
  }
}
