.header-container {
  background-color: #3e91c9;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  img {
    margin: 0.5em;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    box-shadow: 1px 1px 3px #333;
  }
}

.project-title {
  text-align: center;
  font-size: 1.1em;
  padding: 0 0.5em;
}

.nav-search-box {
  padding-left: 0.5em;
  margin: 1em auto;
  height: 2em;
  width: 95%;
  border: none;
  outline: none;
  align-self: center;
  border-radius: 2px;
  &:focus {
    outline: none;
    border: 2px solid #62b1e6;

    border-radius: 5px;
  }
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    width: 95%;
    margin-bottom: 0.5em;
  }
}

.nav-button {
  height: 2em;
  border-radius: 2px;

  border: none;
  width: 100%;
  background-color: aliceblue;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #444;
    color: white;
  }
}

@media screen and (min-width: 500px) {
  .corp-container {
    img {
      width: 80px;
      height: 80px;
    }
  }
  .project-title {
    font-size: 1.5em;
  }

  .nav-search-box {
    font-size: 1.2em;
  }

  .nav-button {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 700px) {
  .corp-container {
    margin-top: 1em;
    img {
      width: 90px;
      height: 90px;
    }
  }
  .project-title {
    font-size: 1.8em;
  }

  .nav-search-box {
    font-size: 1.3em;
  }

  .nav-button {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 950px) {
  .corp-container {
    margin-top: 1em;
    img {
      width: 100px;
      height: 100px;
    }
  }

  .nav-search-box {
    font-size: 1em;
  }

  .nav-button {
    font-size: 1em;
    width: 100%;
  }

  .button-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 1em;
    align-items: center;
    justify-content: center;
    a {
      margin: 1em;
    }
  }
}

@media screen and (min-width: 1300px) {
  .header-container {
    flex-direction: row;
  }

  .nav-search-box {
    font-size: 0.8em;
    width: 40%;
  }

  .nav-button {
    font-size: 0.8em;
    width: 100%;
  }
  .project-title {
    font-size: 1.5em;
  }

  .button-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 0.2em;
    a {
      margin: 0.3em;
    }
  }
}

@media screen and (min-width: 1600px) {
  .nav-search-box {
    font-size: 1em;
    width: 30%;
  }
  .button-container {
    width: 30%;
    margin: 0.2em;
    a {
      margin: 0.3em;
    }
  }
}
