.footer-container {
  background-color: #3e91c9;
  color: black;
  min-height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright-container {
  font-size: 0.8em;
  margin-top: 1em;
}

.faq-container {
  list-style: none;
}
