.footer-container {
  background-color: #3e91c9;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 100%;
}

.faq-container {
  font-size: 0.8em;
}
.copyright-container {
  font-size: 0.8em;
  margin-top: 1em;
}

@media screen and (min-width: 700px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .copyright-container {
    font-size: 0.9em;
    margin: 1em;
  }
}
